[mysqld]
skip-grant-tables
default_password_lifetime=0
user=mysql
datadir=/opt/mysql/data
socket=/tmp/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
# 忽略客户端字符集设置
skip-character-set-client-handshake
character-set-client-handshake = FALSE
max_connections=1000
sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION" #5.6 mode
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
log-bin=mysql-bin
server-id=1
binlog-do-db=ckg          #需要记录进制日志的数据库.如果有多个数据库可用逗号分隔,或者使用多个binlog-do-db选项
binlog-ignore-db=information_schema,mysql,sys      #不需要记录进制日志的数据库.如果有多个数据库可用逗号分隔,或者使用多个binlog-do-db选项
replicate-do-db=ckg       #需要进行同步的数据库.如果有多个数据库可用逗号分隔,或者使用多个replicate-do-db选项
replicate-ignore-db=information_schema,mysql,sys     #不需要同步的数据库.如果有多个数据库可用逗号分隔,或者使用多个replicate-ignore-db选项
#同步参数:
##保证slave挂在任何一台master上都会接收到另一个master的写入信息
log-slave-updates
sync_binlog=1
auto_increment_offset=1
auto_increment_increment=2
slave-skip-errors=all             #过滤掉一些没啥大问题的错误

explicit_defaults_for_timestamp = 1

#慢查询
slow_query_log=1
slow_query_log_file=/opt/logs/mysql-slow.log
long_query_time=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8mb4
socket=/tmp/mysql.sock

[mysql]
default-character-set=utf8mb4
socket=/tmp/mysql.sock