[mysqld]
user=mysql
datadir=/opt/mysql/data
socket=/tmp/mysql.sock

max_connections=3000

init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION" #5.6 mode
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
# 忽略客户端字符集设置
skip-character-set-client-handshake
character-set-client-handshake = FALSE

sync_binlog = 1 # 事务即使系统Crash,对实际数据没有任何实质性影响。

# 双主配置
log-bin = mysql-bin                                                     #打开二进制功能,MASTER主服务器必须打开此项
log-slave-updates
binlog-format=ROW
binlog-row-image=minimal
gtid-mode=on
enforce-gtid-consistency=true
master-info-repository=TABLE
relay-log-info-repository=TABLE
sync-master-info=1
slave-parallel-workers=0
binlog-checksum=CRC32
master-verify-checksum=1
slave-sql-verify-checksum=1
binlog-rows-query-log_events=1
#expire_logs_days=5
max_binlog_size=1024M                                                   #binlog单文件最大值

##保证slave挂在任何一台master上都会接收到另一个master的写入信息
server-id = 1 # 改变这里
auto_increment_offset = 1  # 改变这里
auto_increment_increment = 2                                            #奇数ID

# 不需要同步的数据库
replicate-ignore-db = information_schema,mysql,sys,test                                             #忽略不同步主从的数据库
binlog-ignore-db = information_schema,mysql,sys,test

#过滤掉一些没啥大问题的错误
slave-skip-errors = all

#慢查询
slow_query_log=1
slow_query_log_file=/opt/logs/mysql-slow.log
long_query_time=5

explicit_defaults_for_timestamp = 1

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#skip-grant-tables
default_password_lifetime=0

skip-name-resolve

#通讯的数据包大小
max_allowed_packet=20M 

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8mb4
socket=/tmp/mysql.sock

[mysql]
default-character-set=utf8mb4
socket=/tmp/mysql.sock